@use "functions" as *;
@use "mixins" as *;
@use "variables" as global;
@use 'css-variables' as *;

.sr-only { // visually-hidden
	display: block;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important; 
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important
}
body {
	font-weight: var(--f-font-weight);
	color: var(--main-color);
	background-color: var(--c-bg-body);
	line-height: var(--f-line-height);
	font-family: var(--font-family), sans-serif;
	font-size: var(--f-font-size);
	@media (max-width: em(767.98)){
		font-size: var(--f-font-size-mobile);
	}
}
body.lock {
	//touch-action: none;
	overflow: hidden;
}
.wrapper {
	display: flex;	
	flex-direction: column;
	min-height: 100%;	
	//overflow: clip;
	overflow: hidden;//min-block-size: 100%; Поменять на clip - если используется в проекте position: sticky
}
.page {
	flex: 1 1 auto;
}
[class*="__container"] {
	margin-inline: auto;
	max-inline-size: rem(global.$max-width-container);
	padding-inline: rem(global.$main-offset);
}

/* 
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
} */

 
.ibg {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&_contain {
		img {
			object-fit: contain;
		}
	}
} 
 /* 
.gradient-text {
	background: var(--gradient-color);//можно использовать фото
	background-clip: text;//обрезка фона, чтобы он соответствовал тексту
	color: transparent;//делаем текст прозрачным 
}
p {
	&:not(:last-child) {
		margin-bottom: rem(10);
	}
}
 */