
.actions-product__button.hold {
  opacity: 0.2;
  cursor: default;
}
@media (any-hover: hover) {
  .product__actions {
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(58,58,58,.74);
    z-index: 3;
  }
}
.product:hover .product__actions {
  opacity: 1;
  visibility: visible;
}

.product {

  &__inner {
    background-color: #d4d4d4;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__labels {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    right: 24px;
    top: 24px;
  }

  &__label {
    flex: 0 0 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &_sale {
      background-color: #e97171;
    }

    &_new {
      background-color: #2ec1ac;
    }
  }

  &__image {
    aspect-ratio: 3 / 2;
  }

  &__img {
  }

  &__body {
    flex: 1 1 auto;
    padding: 16px 16px 30px;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1 1 auto;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 8px;
  }

  &__text {
    color: #6f6d6d;
    margin-bottom: 8px;
  }

  &__prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__price {
    font-size: 20px;
    font-weight: 500;


    &_old {
      font-size: 16px;
      font-weight: 400;
      margin-left: 16px;
      color: #6f6d6d;
      text-decoration: line-through;
    }
  }

  &__price-span {
  }

  &__actions {
  }
}

.actions-product {

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__button {
    flex: 1 1 100%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__link {
    display: flex;
    //color: inherit;
    align-items: center;
    font-weight: 500;
    color: #e97171;
    &::before{
      content:'';
      margin-right: 10px;
      height: 24px;
      width: 24px;    
    }
    &_share {
      &::before{
        background: url("../assets/img/root/share.svg") center center no-repeat;
      }
    }

    &_favorite {
      &::before{
        background: url("../assets/img/root/favorite_white.svg") center center no-repeat;
      }
    }
  }
}


