@use "../config/functions" as *;
@use "../config/mixins" as *;

.product {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;
  color: #000;
  height: 100%; //
  &__image {
    position: relative;
    overflow: hidden;
    display: block;
    height: 162px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__switch {
  }

  &__image-pagination {
    position: absolute;
    z-index: 3; //30
    left: 0;
    bottom: 15px;
    width: 100%;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 44px;
    margin-bottom: 10px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__link {
    display: flex;
    //color: inherit;
    align-items: center;
    font-weight: 500;
    color: #e89f71;
    &::before {
      content: "";
      margin-right: 10px;
      height: 24px;
      width: 24px;
    }
    &_share {
      &::before {
        background: url("../assets/img/root/share.svg") center center no-repeat;
      }
    }

    &_favorite {
      &::before {
        background: url("../assets/img/root/favorite_white.svg") center center
          no-repeat;
      }
    }
  }

  &__labels {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
  }

  &__label {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;

    &_sale {
      background-color: #e97171;
    }

    &_new {
      background-color: #2ec1ac;
    }
  }

  &__props {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__rating {
    margin-right: 10px;
  }

  &__testimonials {
  }

  &__info {
    margin-bottom: 17px;
  }

  &__article {
    margin-bottom: 7px;
  }

  &__price {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
  }

  &__btn {
  }
}

.image-switch {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  &__item {
    flex-grow: 1;
    cursor: pointer;
  }

  &__image {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2; //2
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    pointer-events: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    aspect-ratio: 3 / 2; //
  }

  &__img {
    display: block;
    //height: 100%;//
    //object-fit: cover;
    //max-width: 100%;
  }
}
.image-switch__item:first-child .image-switch__image {
  opacity: 1;
  z-index: -1;
}

.image-switch__item:hover .image-switch__image {
  opacity: 1;
  z-index: -1;
}

.image-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  &__item {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #4f4c4c;
  }
  &__item--active {
    background-color: #0b1857;
  }
}
.product-price {
  display: flex;
  align-items: center;
  gap: 12px;
  &__current {
    font-size: 24px;
  }

  &__old {
    font-size: 16px;
    text-decoration: line-through;
  }
}
