@use "../config/functions" as *;
@use "../config/mixins" as *;
.cart {
  &__wrapper {
  }

  &__empty-container,
  &__order-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    &.hidden {
      display: none;
    }
  }
  &__empty,
  &__order {
    font-weight: 700;
    @include adaptive-clamp("font-size", 28, 20);
    @include adaptive-clamp("margin-bottom", 30, 20);
  }
  &__icon {
  }
  &__form {
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__total-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 20px;
  }

  &__total-price {
    font-size: 20px;
    font-weight: 500px;
    color: var(--c-scrollUp);
  }

  &__currency {
    font-size: 20px;
    color: var(--c-scrollUp);
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-order {
  }
}

.item-cart {
  position: relative;
  padding-top: 40px;
  font-weight: 500;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 120px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  &__model {
    grid-area: 1 / 1 / 2 / 3;    
  }

  &__image {
    grid-area: 2 / 1 / 3 / 2;
    width: 120px;
    overflow: hidden;
  }

  &__img {
  }

  &__counter {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    @media (max-width: 450px){
      
    }
  }

  &__price {
    color: var(--c-scrollUp);
  }

  &__price-counter {
  }

  &__currency {
  }
}
