// @use './../base/header-fon';
// @use './../base/burger';
// @use './../base/menu-header';

@use "../config/functions" as *;
@use "../config/mixins" as *;

.header {

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__logo {
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__cart {

    svg {
      width: 40px;
      height: 40px;
    }
  }
}
.search-bar {
  width: 180px;
  border: 1px solid #000;
  border-radius: 15px;
  position: relative;
  input {
    width: 90%;
    height: 40px;
    border-radius: 15px;
    padding: 0 0 0 15px;
    font-size: 16px;
    outline: none;
    border: none;
  }
  button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
.shopping-cart {
}


