
.pagination {
  padding: 20px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
  }
}

.pagination-item, 
.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #84868E;
  border-radius: 3px;
  cursor: pointer;
  background-color: #FDFDFD;
  user-select: none;
  border: 1px solid #e0dede;
}
.pagination-item{
  height: 30px;
  width: 30px;
}
.pagination-btn {
  font-weight: 700;
  height: 30px;
  width: 35px;
}

.pagination-item.active {
  color: #fff;
  background: #000;
  border: 1px solid #000;
}

.btn-show-more  {
}