@use "../config/functions" as *;
@use "../config/mixins" as *;

.products {
  @include adaptive-clamp("padding-top", 60, 20);
  @include adaptive-clamp("padding-bottom", 60, 20);
  &__container {
  }
  &__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));  
  }
  &__item {
  }
}