// @use 'config/fonts';
// @use 'config/icons';
 @use 'config/variables';
 @use 'config/css-variables';
 @use 'config/reset';
 @use 'config/setting';

 @use 'base/base';

 @use 'blocks/page';
 @use 'blocks/common';
 @use 'blocks/header';
 @use 'blocks/footer';
// @use 'blocks/hero';
// @use 'blocks/second';
@use 'blocks/article';

@use 'blocks/cart-modal';
@use 'blocks/products';
@use 'blocks/pagination';
