@use './../config/functions' as *;
@use './../config/mixins' as *;
// .btn {    
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
  
//   padding-block: 10px;
//   padding-inline: 15px;

//   font-weight: 500;
//   font-size: 18px;
//   border-radius: 4px;
//   background-color: var(--c-white);
//   color: var(--c-dark);
  
//   transition: all 0.3s;
//   @media (any-hover: hover){
//       &:hover{
//           color: var(--c-dark);
//       }
//   }   
// } 


.button {
  border-radius: rem(8);
  text-align: center;
  padding-block: rem(16);
  padding-inline: rem(40);

  font-weight: 500;
  font-size: rem(20);
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: var(--c-orange);
  color: var(--c-white);

  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      color: var(--c-dark);
    }
  }

  &--card {
    width: 100%;
  }
}