
@use './../config/css-variables' as *;
@use './../config/functions' as *;
@use './../config/mixins' as *;
.btn {    
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  padding-block: 10px;
  padding-inline: 15px;

  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  background-color: var(--c-white);
  color: var(--c-dark);
  
  transition: all 0.3s;
  @media (any-hover: hover){
      &:hover{
          color: var(--c-dark);
      }
  }   
} 

.btn:hover {
  background-color: #966749;
}

.btn_white {
  color: #e89f71;
  background-color: #fff;
}

.btn_white:hover {
  background-color: #e89f71;
  color: #fff;
}