.close {
  position: absolute;
  //position: relative;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  padding: 15px;
  cursor: pointer;
  &::before,
  &::after{
    content:'';
    position: absolute;
    top: 5px;
    height: 20px;
    width: 2px;
    background-color: #000;    
  }
  &::before{
    transform: rotate(45deg);
  }
  &::after{
    transform: rotate(-45deg);
  }
}