@use './../config/functions' as *;
@use './../config/mixins' as *;

:root {
  --stepper-main: #353434;
  --stepper-second: #fff;
  --stepper-radius: 5px;
}

.stapper{
  border: 1px solid var(--stepper-main);
  border-radius: var(--stepper-radius);
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__button {
    padding: 5px 10px;
    border-radius: var(--stepper-radius);
    background-color: var(--stepper-main);
    color: var(--stepper-second);
    cursor: pointer;
    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
  &__number {    
    padding: 5px 10px;
    text-align: center;
    color: var(--stepper-main);
  }
}
